<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.doboku-note.disk-hygiene</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>__REPO__/scripts/scheduled/disk-hygiene.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>4</integer>
        <key>Minute</key>
        <integer>17</integer>
    </dict>
    <key>WorkingDirectory</key>
    <string>__REPO__</string>
    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/doboku-note/disk-hygiene.launchd.out</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/doboku-note/disk-hygiene.launchd.err</string>
    <key>RunAtLoad</key>
    <false/>
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
